.header
  flex: none

.top-line
  width: 100%
  top: 0
  left: 0
  position: fixed
  padding-top: 75px
  padding-bottom: 75px
  z-index: 2
  background-color: transparent
  transition: padding 0.3s, ease 0.3s, background-color 0.3s, ease 0.3s, box-shadow 0.3s, ease 0.3s

  &.top-panel--fixed
    padding-top: 25px
    padding-bottom: 25px
    background-color: #3B1F17
    box-shadow: 0px 0px 36px rgba(255, 255, 255, 0.31)

  &__inner
    display: flex
    align-items: center
    justify-content: space-between